# need root privilege for docker
sudo: required
language: generic
services:
    - docker

before_install:
    - docker build -t domicch/complex_react_demo_client_test -f ./client/Dockerfile.dev ./client

script:
    - docker run -e CI=true domicch/complex_react_demo_client_test npm run test

after_success:
    - docker build -t domicch/complex_react_demo_client ./client
    - docker build -t domicch/complex_react_demo_router ./router
    - docker build -t domicch/complex_react_demo_server ./server
    - docker build -t domicch/complex_react_demo_worker ./worker
    # login and push built images to Docker Hub
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    - docker push domicch/complex_react_demo_client
    - docker push domicch/complex_react_demo_router
    - docker push domicch/complex_react_demo_server
    - docker push domicch/complex_react_demo_worker

deploy:
    edge: true
    provider: elasticbeanstalk
    region: "eu-west-2"
    app: "multi-docker"
    env: "MultiDocker-env"
    # elastic beanstalk use S3 to store all required source code
    bucket_name: "elasticbeanstalk-eu-west-2-131576174503"
    bucket_path: "multi-docker"
    # only deploy when master branch has update
    on:
        branch: master    
    # Environment variables are defined in Travis
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
