version: '3'
services:
    postgres:
        image: postgres:latest
        environment:
            - POSTGRES_PASSWORD=postgres_password
        ports:
            - '5432:5432'
    redis:
        image: redis:latest
        ports:
            - '6379:6379'
    # router:
    #     restart: always
    #     build:
    #         dockerfile: Dockerfile.dev
    #         context: ./router
    #     ports:
    #         - '3050:80'
    api:
        build:
            context: ./server
            dockerfile: Dockerfile.dev
        volumes:
            - /app/node_modules
            - ./server:/app
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - PGUSER=postgres
            - PGHOST=postgres
            - PGDATABASE=postgres
            - PGPASSWORD=postgres_password
            - PGPORT=5432
        depends_on:
            - postgres
        ports:
            - '5000:5000'
    # client:
    #     # indicates service is built from Dockerfile from current directory
    #     build:
    #         context: ./client
    #         dockerfile: Dockerfile.dev 
    #     #ports: 
    #     #    - '3000:3000'
    #     volumes:
    #         - /app/node_modules
    #         - ./client:/app
    #     # fix create-react-app bug terminate immediately with docker-compose
    #     stdin_open: true
    worker:
        # indicates service is built from Dockerfile from current directory
        build:
            context: ./worker
            dockerfile: Dockerfile.dev
        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
        volumes:
            - /app/node_modules
            - ./worker:/app
        
    
    
